html, body {
    height: 100%;
    width: 100%;
    background-color: hsl(70, 50%, 75%);
}

button {
    font-size: 2rem;
}

/*
class style declarations
*/
.rockPaperContainer {
    background-color: rgb(163, 159, 223);
    height: 100%;
}

.leaderboardContainer {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 400px;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
}

.leaderboardOption {
    color: black;
    font-size: 2rem;
    display: flex;
    text-align: center;
}
